listado de usuarios


<table>
  <tr>
    <th>descripcion</th>
    <th>url</th> 
    
  </tr>
  
  {{#each ObjAudios}}
  <tr>
    <td>{{descripcion}}</td>
    <td>{{url}}</td> 
    <td><a href="">borrar</a></td>
    <td><a href="">Actualizar</a></td>
  </tr>

{{/each}}
  
</table>

<button>Subir nuevo Audio</button>




