<form class="form" action="/usuarios" method="post">

 <div class="form-group">
    <label for="description">id rol</label>
    <input type="number" class="form-control" id="id_rols" placeholder="Enter a todo" name="id_rols">
  </div>
 
  <div class="form-group">
    <label for="title">Nombre</label>
    <input type="text" class="form-control" id="nombre" placeholder="Enter a todo" name="nombre">
  </div>

   
   <div class="form-group">
    <label for="description">Usuario</label>
    <input type="text" class="form-control" id="usuario" placeholder="Enter a todo" name="usuario">
  </div>
   
   
   <div class="form-group">
    <label for="description">Clave</label>
    <input type="text" class="form-control" id="clave" placeholder="Enter a todo" name="clave">
  </div>
   
   
   <div class="form-group">
    <label for="description">Puntaje</label>
    <input type="number" class="form-control" id="puntaje" placeholder="Enter a todo" name="puntaje">
  </div>
   
   <div class="form-group">
    <label for="description">Url imagen</label>
    <input type="text" class="form-control" id="urlImagen" placeholder="Enter a todo" name="urlimagen">
  </div>
  
  <button type="submit" class="btn btn-default btn-success">
    Crear
  </button>
</form>