listado de Imagenes


<table>
  <tr>
    <th>descripcion</th>
    <th>url</th> 
    <th>id_audio</th>
    
  </tr>
  
  {{#each ObjImages}}
  <tr>
    <td>{{descripcion}}</td>
    <td>{{url}}</td> 
    <td>{{id_audios}}</td>
    
    <td><a href="">borrar</a></td>
    <td><a href="">Actualizar</a></td>
  </tr>

{{/each}}
  
</table>

<button>Subir nueva imagen</button>




