listado de Roles


<table>
  <tr>
    <th>descripcion</th>
    
    
  </tr>
  
  {{#each ObjRols}}
  <tr>
    <td>{{descripcion}}</td>
    
    <td><a href="">borrar</a></td>
    <td><a href="">Actualizar</a></td>
  </tr>

{{/each}}
  
</table>

<button>Crear nuevo Rol</button>




