<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SLIDER</title>
    <script src="/js/jquery-3.3.1.js" type="text/javascript"></script>

</head>
<body>
    <div  class="">

        <div id="imagenes" class="">  
           
            
            {{#each ObjImages}}
             <div> <label style="margin-top: 5px; margin-left: 200px; position: absolute;">Ingrese Tamano</label> <input  style="margin-top: 20px; margin-left: 200px; position: absolute;" type="text" na
             me="length" id="length"> <a href="demo" style="margin-top: 45px; margin-left: 200px; position: absolute;" id="btnJugar" >jugar</a> <img width="40%" id="{{id}}" class="" src="{{url}}"></div>
            {{/each}}
            
        </div>
        <div>
            <div><a id="atras" href="#">atras</a></div>
            <div><a id="siguiente" href="#">siguiente</a></div>
        </div>

    </div>
<script src="/js/slider.js"></script>

</body>
</html>